// infinite scrolling background animation from this post: https://stackoverflow.com/a/32405494
@keyframes slideleft {
  from {
    background-position: 0%;
  }
  to {
    background-position: 90000%;
  }
}

@keyframes img-fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes display-delay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear-left {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes appear-right {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}
