// ========== GRADUAL MENU BACKGROUND APPEAR ==========
@keyframes background-appear {
  0% {
    opacity: 0;
    width: 50%;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}

// ========== GRADUAL APPEAR ANIMATION (FOOTER) ==========
@keyframes display-delay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
// Slide in animations inspired by Jonas Schmedtmann's Advanced CSS Udemy Course
// ========== SLIDE IN FROM LEFT ANIMATION (PLAY GAME BUTTON) ==========
@keyframes appear-left {
  0% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(0);
  }
}
// ========== SLIDE IN FROM LEFT ANIMATION (ABOUT BUTTON) ==========
@keyframes appear-right {
  0% {
    transform: translateX(200%);
  }

  75% {
    transform: translateX(-5%);
  }

  100% {
    transform: translateX(0);
  }
}
