html {
  box-sizing: border-box;
  // Setting default font to 62.5% so that 1rem = 10px inspired by Jonas Schmedtmann Advanced CSS & Sass Udemy Course
  font-size: 62.5%;
}

// CSS Reset sourced from digitalocean minimal CSS reset: https://www.digitalocean.com/community/tutorials/css-minimal-css-reset"

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
body {
  background-color: $color-primary;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
