// ========== DEFAULT FONT STYLE DEFINITIONS ==========
.heading-primary,
.heading-secondary {
  width: 100%;
  font-family: $font-heading;
  letter-spacing: 0.2rem;
  text-align: center;
}

.heading-primary {
  text-transform: uppercase;
  font-size: 6rem;
  @include respond(tablet) {
    font-size: 8.5rem;
  }
}

.heading-secondary {
  font-size: 4rem;
  text-transform: capitalize;
  line-height: 3.5rem;
  @include respond(tablet) {
    font-size: 5.5rem;
  }
}
