// DEFAULT FONT STYLE DEFINITIONS

.heading-primary,
.heading-secondary {
  width: 100%;
  font-family: $font-heading;
  letter-spacing: 0.1rem;
  text-align: center;
  /* To center the text perfectly within the heading */
  @include absCenter;
}

.heading-primary {
  text-transform: uppercase;
  font-size: 5rem;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: capitalize;
}
