// ========== COLOR VARIABLES ==========

$color-primary: #2d2b5a;
$color-secondary: #9dbe39;
$color-white: #fffff6;
$color-black: #0e1f2f;

// ========== FONT VARIABLES ==========

$font-heading: "Racing Sans One", cursive;
$font-default: "Roboto", sans-serif;
