// ========== BASE BUTTON COMPONENT STYLING ==========
.btn {
  display: inline-block;
  font-size: 2rem;
  font-family: $font-default;
  font-weight: 600;
  outline: 0;
  text-align: center;
  padding: 1.5rem 3rem;
  letter-spacing: 0.3rem;
  border-radius: 0.3rem;
  text-transform: capitalize;
  transition: all 0.2s;
  color: $color-secondary;
  background-color: $color-primary;
  border: solid 0.2rem $color-white;
  @include respond(tablet) {
    font-size: 2.25rem;
  }

  &:active,
  &:focus,
  &:hover {
    outline: 0;
    font-weight: 700;
    color: $color-primary;
    background-color: $color-secondary;
  }
  &:disabled {
    color: $color-secondary;
    background-color: $color-primary;
    opacity: 0.4;
  }
}
