.btn {
  // DEFAULT BUTTON STYLING
  display: block;
  width: 17.5rem;
  padding: 1.5rem;
  font-family: $font-default;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  word-spacing: 0.2rem;
  text-transform: uppercase;
  outline: none;
  border: none;
}
