.about {
  // ABOUT SECTION PARAGRAPHS
  &__text {
    color: $color-white;
    font-size: 1.8rem;
    margin: 2.5rem;
  }
  // ABOUT 'PLAY GAME' BUTTON
  &__link {
    display: block;
    margin: 5rem auto;
    background-color: $color-white;
    text-align: center;
    text-decoration: none;
  }
}
