.about {
  /* About Section Paragraphs */
  &__text {
    color: $color-white;
    font-size: 1.8rem;
    margin: 2.5rem;
  }
  /*About Section Button Style Links */
  &__link {
    display: block;
    margin: 5rem auto;
    background-color: $color-white;
    text-align: center;
    text-decoration: none;
  }
}
