.about {
  // ABOUT SECTION PARAGRAPHS
  height: calc(85% - 4rem);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 5rem;
  &__text {
    color: $color-white;
    font-family: $font-default;
    font-size: 2rem;
    margin: 2.5rem;
  }
  &__link {
    align-self: center;
    margin-top: 1.5rem;
  }
}
