.game {
  position: relative;
  overflow-y: hidden;
  // GENERAL STYLING FOR GAME SECTIONS (REGION | DIFFICULTY | GAME)
  &__section {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    height: 100vh;
    background-color: $color-white;
    &--heading {
      position: relative;
      height: 15%;
      &-text {
        /* To center the text perfectly within the heading */
        @include absCenter;
      }
    }
    // LAYOUT STYLING FOR REGION AND DIFFICULTY OPTIONS
    &--options {
      height: 85%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }
  }
}

#game {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// Initially setting difficulty and game sections not to appear until region has been selected
// game will revert to flex when activated
#difficulty,
#game {
  display: none;
}

// STYLING FOR PROGRESS AND SCORE COUNTERS
.counters {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem 0 1rem;
  font-size: 2rem;
  font-family: $font-default;

  &__score {
    text-align: right;
  }
}
// STYLING FOR MAIN FLAG IMAGE
.flag {
  margin: 1rem auto;
  height: 30vh;
  width: 100%;

  &__img {
    object-fit: cover;
    margin: 0 auto;
    height: 100%;
    width: 100%;
  }
}
// STYLING FOR QUESTION & ANSWER INPUT / SELECTION
.question {
  font-size: 2.5rem;
  font-family: $font-default;
  text-align: center;

  &__input {
    margin: 0 auto;
    font-size: 2rem;
    font-family: $font-default;
    width: 75%;
  }
  &__buttons {
    display: flex;
    justify-content: center;
    &--button {
      display: none;
      width: 32%;
      font-size: 1.5rem;
      border: solid black 0.1rem;
      padding: 1rem;
    }
  }
}
// to remove the doubling of the border width in adjascent population buttons
#pop2 {
  border-left: none;
  border-right: none;
}

// STYLING FOR CORRECT / WRONG TEXT

.answer {
  &__result {
    text-transform: capitalize;
    opacity: 0;
    font-size: 5rem;
  }
  &__answer {
    text-transform: none;
    opacity: 0;
    font-size: 2.5rem;
  }
}

// STYLING FOR SUBMIT AND NEXT BUTTONS
.game-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;

  & > * {
    margin: 1rem;
  }
}
