.menu {
  /*  Styling for front-page menu of index.html */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50vh;

  // MAIN PLAY GAME & ABOUT BUTTON STYLING
  &__link {
    margin: 0 auto;
    background-color: $color-white;
    text-align: center;
    text-decoration: none;
  }
}
