.menu {
  // ========== STYLING FOR FRONT-PAGE MENU OF APP ==========
  display: grid;
  grid-template-rows: 50% 25%;
  align-items: end;
  justify-content: center;
  height: 70%;
  background-color: red;
  overflow: hidden;
  background-image: url("../images/globe-blue.jpg");
  background-size: 105%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: $color-primary;

  // ========== "PLAY GAME" & "ABOUT" BUTTONs ==========

  &__link {
    font-weight: 600;
    font-size: 3rem;
    text-transform: uppercase;
    color: $color-secondary;
    background-color: $color-primary;
    border: solid 0.2rem $color-white;

    &:active,
    &:focus,
    &:hover {
      color: $color-primary;
      background-color: $color-secondary;
    }
  }
  // ========== ANIMATION ON APP / PAGE LOAD ==========
  #play-button {
    animation: appear-left 1.25s 0.75s cubic-bezier(0.37, 0.2, 0.77, 1.15) both;
  }
  #about-button {
    animation: appear-right 1.25s 1.25s cubic-bezier(0.37, 0.2, 0.77, 1.15) both;
  }
}
